{% include "header.html" %}

    <section class="contact ">
        <div class="contact-container">
            <div class="contact-box">
                <h2>Let's Work Together</h2>
                <p>Ready to turn your ideas into reality? 
                    I can help. Let's connect and discuss how we can work together to achieve your goals. Contact me using the information provided.</p>
                <div class="contact-detail">
                    <i class='bx bxs-phone' ></i>
                    <div class="detail">
                        <p>Phone</p>
                        <p>(+94) 712 835 711</p>
                    </div>
                </div>
                <div class="contact-detail">
                    <i class='bx bxs-phone' ></i>
                    <div class="detail">
                        <p>Email</p>
                        <p>tthiyura1@gmail.com</p>
                    </div>
                </div>
                <div class="contact-detail">
                    <i class='bx bxs-map' ></i>
                    <div class="detail">
                        <p>Adress</p>
                        <p>15/100, Seevali Lane, Borella, Sri Lanka.</p>
                    </div>
                </div>    
            </div>

            <div class="contact-box" >
                <form id="contactForm" name="sentMessage" method="post" action="/contact">
                    <h2 class="heading">{{ Text }} <span>{{ Spantext }}</span></h2>
                    <div class="field-box">
                        <input type="text" id="name" name="name" placeholder="Full Name" required>
                        <input type="email" id="email" name="email" placeholder="Email Address" required>
                        <input type="text" id="phone" name="phone" placeholder="Phone Number" required>
                        <input type="text" id="subject" name="subject" placeholder="Email Subject" required>
                        <textarea id="message" name="message" placeholder="Your Message" required></textarea>
                    </div>
                    
                    <button type="submit" class="btn">Send Message</button>

                    <div class="form-message"></div>
                </form>
            </div>
        </div>
     </section>



{% include "footer.html" %}