{% include "header.html" %}
<!-- resume section -->
    <section class="resume ">
            <div class="resume-container">

                <div class="resume-box">
                    <h2>Why Hire Me ?</h2>
                    <p class="desc">Basically,<br> I build websites with Python, tinker with AI and chatbots,
                         and enjoy making things look nice with graphic design. I'm reliable, 
                         eager to work, and ready to use my skills to help you out.</p>
                    <button class="resume-btn active"><i class='bx bx-briefcase-alt'></i>Experience</button>
                    <button class="resume-btn"><i class='bx bx-book'></i>Education</button>
                    <button class="resume-btn"><i class='bx bx-stats'></i>Skills</button>
                    <button class="resume-btn"><i class='bx bx-user'></i>About Me</button>
                </div>

                <div class="resume-box">

                    <div class="resume-detail expierience active">
                        <h2 class="heading">My <span>Experience</span></h2>
                        <p class="desc">Bringing my skills in web development, AI, and graphic design to real-world projects and roles. 
                            See how I've applied my expertise.</p>
                            <div class="resume-list">

                                <div class="resume-item">
                                    <p class="year">2021 - 2022</p>
                                    <h3>IT support</h3>
                                    <p class="company">Samurdhi Bank-Ingiriya</p>
                                    <p>Provided essential IT assistance and technical support to staff, 
                                         Assisted with system maintenance and troubleshooting,
                                         contributing to a stable and efficient IT environment within the bank.
                                        </p>
                                </div>

                                <div class="resume-item">
                                    <p class="year">2023 - Present</p>
                                    <h3>Freelance Developer</h3>
                                    <p class="company">Fiverr</p>
                                    <p> Operating as a freelance Developer on Fiverr, 
                                        I utilize my skills in both frontend and backend technologies, including Python for backend development, 
                                        to build custom and responsive solutions.</p>
                                </div>



                            </div>
                    </div>
                
                    <div class="resume-detail education">
                        <h2 class="heading">My <span>Education</span></h2>
                        <p class="desc">Here's a look at my professional journey, 
                            showcasing how I've leveraged my skills to contribute effectively.</p>

                        <div class="timeline">

                                <div class="timeline-step completed">
                                    <div class="timeline-content">
                                    <i class='bx bx-book-bookmark' ></i>
                                    <h4>Primary Education</h4>
                                    <p>Taxila central college  Horana</p>
                                    </div>
                                </div>
                            
                                <div class="timeline-step completed">
                                    <div class="timeline-content">
                                    <i class='bx bx-book-bookmark' ></i>
                                    <h4>A/L completed</h4>
                                    <p>Physical science</p>
                                    </div>
                                </div>

                                <div class="timeline-step current">
                                    <div class="timeline-content">
                                    <i class='bx bxs-graduation' ></i>
                                    <h4>Undergraduate</h4>
                                    <p>Sri Lanka Institute of Information Technology</p>
                                    </div>
                                </div>

                                <div class="timeline-step future">
                                    <div class="timeline-content">
                                    <i class='bx bx-chip' ></i>
                                    <h4>Masters</h4>
                                    <p>Future Goal</p>
                                    </div>
                                </div>
                            </div>
                        

                        <div class="resume-list">

                    

                            <div class="resume-item">
                                <p class="year">2022-2026</p>
                                <h3>BSc (Hons) in Information Technology(IM)</h3>
                                <p class="company">SLIIT</p>
                                <p>Currently pursuing a bachelor's degree with a specialization in Interactive Media, focusing on Digital Image Processing, 
                                    Deep Learning, UX Design, and Web Development.</p>
                            </div>

                            <div class="resume-item">
                                <p class="year">2025</p>
                                <h3>100 Days of Python</h3>
                                <p class="company">Udemy-Online</p>
                                <p>Completing an intensive Python programming bootcamp, mastering core concepts building various real-world projects. Gained hands-on experience in applying Python.</p>
                            </div>

                            <div class="resume-item">
                                <p class="year">2025</p>
                                <h3>Web development bootcamp</h3>
                                <p class="company">Udemy-Online</p>
                                <p>Completed 68-hour comprehensive training in React,
                                    Next.js SSR/SSG and API routes,
                                    Unit testing with Jest/React Testing Library ,
                                    Firebase integration.
                                </p>
                            </div>
                        </div>
                    </div>
            
                    <div class="resume-detail skills">
                        <h2 class="heading">My <span>Skills</span></h2>
                        <p class="desc">An overview of the technical and creative skills I bring to every project.</p>


                        <div class="resume-list">   
                            <div class="resume-item">
                                <i class='bx bxl-python' ></i>
                                <span>Python</span>
                            </div>
                            <div class="resume-item">
                                <i class='bx bxl-html5' ></i>
                                <span>Html5</span>
                            </div>
                            <div class="resume-item">
                                <i class='bx bxl-css3' ></i>
                                <span>CSS3</span>
                            </div>
                            <div class="resume-item">
                                <i class='bx bxl-react' ></i>
                                <span>React.js</span>
                            </div>
                            <div class="resume-item">
                                <i class='bx bxl-django' ></i>
                                <span>Django</span>
                            </div>
                           
                            <div class="resume-item">
                                <i class='bx bxl-tailwind-css' ></i>
                                <span>Tailwind CSS</span>
                            </div>
                            <div class="resume-item">
                                <i class='bx bxl-blender' ></i>
                                <span>Blender</span>
                            </div>
                            <div class="resume-item">
                                <i class='bx bxl-adobe' ></i>
                                <span>Illustrator</span>
                            </div>
                        </div>
                    </div>
            
                    <div class="resume-detail about">
                        <h2 class="heading">About<span>Me</span></h2>
                        <p class="desc">I'm a passionate developer and designer who thrives on building innovative digital experiences. 
                            With a strong foundation in Python web development ,
                             I love transforming complex ideas into functional and user-friendly applications.  I am constantly seeking to learn and grow in the dynamic world of technology.</p>
                        <div class="resume-list">
                            <div class="resume-item">
                                <p>Name</p> <span>Thilakshana Weerasinghe</span>
                            </div>
                    
                            <div class="resume-item">
                                <p>Gender</p><span>Male</span>
                            </div>
                        
                            <div class="resume-item">
                                <p>Age</p><span>22 Years Old</span>
                            </div>
                        
                            <div class="resume-item">
                                <p>Status</p> <span>Unmarried</span>
                            </div>
            
                            <div class="resume-item">
                                <p>City</p> <span>Borella</span>
                            </div>
                            
                            <div class="resume-item">
                                <p>Nationality</p> <span>Srilankan</span>
                            </div>
                                        
                            <div class="resume-item">
                                <p>Email</p> <span>tthiyura1@gmail.com</span>
                            </div>
                                        
                            <div class="resume-item">
                                <p>Freelance</p> <span>Available</span>
                            </div>
                                        
                            <div class="resume-item">
                                <p>Phone</p> <span>(+94) 712 835 711</span>
                            </div>
                            
                            <div class="resume-item">
                                <p>Business Web</p> <span><a href="www.primweblk.com">Primeweblk.com</a></span>
                            </div>

                        </div>
                    
                    </div>

                </div>

            </div>
    </section>

{% include "footer.html" %}
